.header {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    background-color: antiquewhite;
}

.title{
    padding: 5px;
}
.header-btn {
    padding: 30px;
}

.register {
    padding: 5px;
    margin-right: 10px;
    height: 30px;
    width: 100px;
}

.login {
    padding: 5px;
    margin-right: 10px;
    height: 30px;
    width: 100px;
}